body, html {
    height: 100%;
  }
  .bg {
    /* The image used */
    background-image: url('./images/background2.jpeg');
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .loginPanel {
    width: 400px;
    height: 500px;
    position: fixed;
    margin-top: 10%;
    background-color: rgba(0,0,0,0.8);
    opacity: 1;
    border-color: inherit;
  }
  .inputLabel{
      color: white;
      font-weight: bold;
  }
  .panelMargin{
    margin-top: 10px;
  }
  .line{
    width: 370px;
    height: 2px;
    border-bottom: 1px solid black;
    position: absolute;
    background-color : white;

    }
    #lblPanel {
      
        color: white;
        width: 370px;
        text-align: center;
      
    }
    .txtColor {
      color : white;
    }
    #btnLogin{
      float: right;
      margin-right: 13px;
    }
    #pnlLogin{
      position: absolute;
    }
    #lnkSignUp{
      position: absolute;
      bottom: 0;
      margin-bottom: 50px;
    }
    .inputGRP{
      position: initial;
    }
    .spinnerVisible{
      background: url(./images/spinner.svg);
      width: 16px;
      height: 16px;
      margin-right: -97px;
      margin-top: 8px;
      float : right;
      visibility: visible;
    }
    .spinnerHidden{
      visibility: hidden;
    }
    @media screen and (-webkit-min-device-pixel-ratio:0) { 
      .spinnerVisible{
        background: url(./images/spinner.svg);
        width: 16px;
        height: 16px;
        margin-right: -91px;
        margin-top: 8px;
        float : right;
        visibility: visible;
      }
      .btnSubmit {
        float: right;
      }
      .lblFormInvalid  {
        text-align: center;
        color: red;
      }
}